.form-section {
  display: flex;
  justify-content: space-between;
  background: url(../img/form-bg.png);
  background-position: left top;
  background-size: cover;
  &__title {
    color: #fff;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #fff;
    legend {
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
    }
  }
}

@media (min-width: $desktop-width){
  .form-section {
    padding: 128px 169px 120px 200px;
  }
}