html {
  scroll-behavior: smooth;
}

body {
  min-width: $mobile-width;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: normal;
  font-family: 'ProximaNova', sans-serif;
  color: $color-site;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

picture {
  display: block;
}

button {
  border: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}